<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="/javascripts/geolocation.js"></script>
  </head>
  <body>
  <div id="map-canvas"></div>

  </body>
</html>
